@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: SourceHanSans-Regular;
  src: url("../../../public/assets/fonts/SourceHanSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: SourceHanSans-Medium;
  src: url("../../../public/assets/fonts/SourceHanSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: SourceHanSans-Normal;
  src: url("../../../public/assets/fonts/SourceHanSans-Normal.otf") format("opentype");
}
@font-face {
  font-family: SourceHanSans-Heavy;
  src: url("../../../public/assets/fonts/SourceHanSans-Heavy.otf") format("opentype");
}

@font-face {
  font-family: SourceHanSans-Bold;
  src: url("../../../public/assets/fonts/SourceHanSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: TiroDevanagariMarathi;
  src: url("../../../public/assets/fonts/TiroDevanagariMarathi-Regular.ttf") format("opentype");
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  color: #060606;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f5f5f5;
}

input::placeholder {
  color: #cdd6dd;
}

.sniper {
  @apply before:content-[''] before:w-2 before:h-10 before:rounded before:bg-white before:absolute before:top-2/4 before:transform before:-translate-y-1/2 before:-left-5 before:box-border before:animate-sniper2 
  w-2 h-10 rounded block mx-auto my-5 relative bg-white text-white box-border animate-sniper 
  after:content-[''] after:w-2 after:h-10 after:rounded after:bg-white after:absolute after:top-2/4 after:transform after:-translate-y-1/2 after:left-5 after:box-border after:animate-sniper1;
}

.checkbox:checked ~ .icon-check {
  @apply !text-opacity-100;
}

.checkbox1:checked ~ .icon-check {
  @apply !text-opacity-100;
}

.checkbox:checked {
  @apply bg-green1;
}

.checker-radio:checked::before {
  @apply opacity-100;
}

.errors {
  @apply text-error text-base absolute -bottom-8 left-0;
}

.ic-error {
  @apply absolute top-0 bottom-0 my-auto right-7 text-error;
}
/*  */
.inactive {
  @apply transition-transform duration-300;
}

.to-left {
  @apply transform duration-300 translate-x-[-30rem] rotate-[-30deg] opacity-0 !important;
}

.to-right {
  @apply transform duration-300 translate-x-[30rem] rotate-[30deg] opacity-0 !important;
}

.to-hidden {
  @apply transform duration-300 opacity-0 !important;
}
.below {
  @apply z-10 opacity-100;
}

.reset {
  @apply transition-transform duration-300;
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.reset-choice {
  @apply transition-opacity duration-300;
  opacity: 0 !important;
}
